.padding_h0{
	padding-left: 0;
	padding-right: 0;
}
.caption-section{
	color: #fff;
	width: 500px;
	background: rgba(23, 37, 75,0.3);
	border-top: 3px solid rgb(23, 37, 75);
	padding: 30px 50px;
	top: unset !important;
}
.caption-section .text{
	white-space: pre-wrap;
	padding-right: 40px;

}
.caption-section h2{
	font-weight: 700;
	font-size: 40px;
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
}
.caption-section .text{
	font-size: 16px !important;
	font-family: 'Open Sans', sans-serif;
	line-height: 25px !important;
	width: 80%;
}

.crellyslider>.cs-navigation{
	text-align: right;
    right: 50px;
    opacity: 1 !important;
}
.crellyslider>.cs-navigation>.cs-slide-link{
	margin: 4px;
	background-color: rgb(46, 67, 117);
	width: 13px;
	height: 13px;
	opacity: 1;
}
.crellyslider>.cs-navigation>.cs-slide-link.cs-active{
	background-color: rgb(212, 55, 59);
	opacity: 1;
}
.project_bg{
	height: 290px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 20px;
}
.client-section li{
	list-style: none;
	width: 18%;	
	margin-right: 2%;
	height: 120px;
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	padding: 20px 0;
	border: 1px solid #ececec;
}
.client-section li img{
	text-align: center;
	margin: 0 auto;
}
.about_us_right{
	padding-top: 30px;
}
.project_bg{
	position: relative;
}
.project_bg .read_more_url{
	font-size: 40px;
}
.our_products .service_prof,.our_products .service_nam{
	color: #fff;
}
.our_products .project_overlay{
	background: rgba(23, 37, 75,0.6);
    position: absolute;
    padding: 10px 15px;
    width: 100%;
    bottom: 0;
}
.our_products .read_more_url{
	color: #fff;
}
.our_products .service_prof{
	padding-bottom: 3px;
}
.our_products .project_left{
	float: left;
}
.our_products .project_right{
	float: right;
}
.our_products .read_more_url:hover{
	text-decoration: none;
}
.our_products .service_nam{
	font-size: 18px;	
}
.about_us .btn_primary,.about_us .btn_primary:hover,
.about_us .btn_primary:active,.about_us .btn_primary:visited{
	font-size: 16px;
}
.our_clients{
	text-align: center;
	padding-top: 35px;
	padding-bottom: 55px;
}

@media (max-width:1200px){
	.our_clients.padding_h40{
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media (max-width:1080px){
	.our_clients li{
		width: 25%;
		margin-bottom: 20px;
	}
}
@media (max-width:991px){
	.caption-section{
		width: 300px;
	}
	.our_clients li{
		width: 30%;
	}
	.crellyslider>.cs-navigation>.cs-slide-link{
		width: 10px;
    	height: 10px;
	}
	.caption-section .text{
		font-size: 16px !important;
		line-height: 1.4 !important;
	}
	.caption-section h2{
		font-size: 28px !important;
		line-height: 1.4 !important;
	}
}
@media (max-width:767px){
	.our_clients li{
			width: 48%;
	}
	.caption-section .text{
		font-size: 14px !important;
		line-height: 1.4 !important;
	}
	.caption-section{		
	    padding: 10px 20px 30px!important;
	}
	.caption-section h2{
		font-size: 22px !important;
		line-height: 1.4 !important;
	}
	.crellyslider{
		height: 250px !important;
	}
	.cs-slides li{
		height: 100% !important;
	}
	.crellyslider>.cs-navigation{
		bottom: 25px;
	}
}
@media (max-width:480px){
	.our_clients li{
			width: 100%;
			margin-right: 0;
	}
	.client-section{
		margin-left: 0;
	}
}
