body{
	font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 400;
}
body:before,
body:after {
  display: none !important;
}
.padding_h20{
	padding-right:20px;
	padding-left: 20px;
}
.site{
	margin:0 !important;
}
.white_text{
	color: #fff;
}

.contact_header {
	    background: #1F479C;
	    padding-top:12px;
	    padding-bottom: 12px;
}

.contact_header ul li{
	color: #fff;
	font-size: 12px;
}
.contact_header ul{
	margin:0;
}

.contact_header ul li i{
	padding-right: 5px;
	font-size: 20px;
    display: inline-block;
    vertical-align: bottom;
 }
.main-navigation a{
	font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 15px;
}
.site-header{
	padding: 10px 30px!important;
}