.padding_h0{
	padding-left: 0;
	padding-right: 0;
}
.caption-section{
	color: #fff;
	width: 500px;
	background: rgba(23, 37, 75,0.6);
	border-top: 3px solid rgb(23, 37, 75);
	padding: 30px 50px;
	top: unset !important;
}
.caption-section .text{
	white-space: pre-wrap;
	padding-right: 40px;

}
.caption-section h2{
	font-weight: 700;
	font-size: 40px;
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
}
.caption-section .text{
	font-size: 16px !important;
	font-family: 'Open Sans', sans-serif;
	line-height: 25px !important;
}

.crellyslider>.cs-navigation{
	text-align: right;
    right: 50px;
    opacity: 1 !important;
}
.crellyslider>.cs-navigation>.cs-slide-link{
	margin: 4px;
	background-color: rgb(46, 67, 117);
	width: 13px;
	height: 13px;
	opacity: 1;
}
.crellyslider>.cs-navigation>.cs-slide-link.cs-active{
	background-color: rgb(212, 55, 59);
	opacity: 1;
}
.client-section li{
	list-style: none;
	width: 18%;	
	margin-right: 2%;
	height: 120px;
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	padding: 20px 0;
	border: 1px solid #ececec;
}
.client-section li img{
	text-align: center;
	margin: 0 auto;
}
.about_us_right{
	padding-top: 30px;
}
.project_bg{
	position: relative;
}
.project_bg .read_more_url{
	font-size: 40px;
}
.our_products .service_prof,.our_products .product_nam{
	color: #fff;
}

.our_products .project_overlay{
	background: rgba(23, 37, 75,0.6);
    position: absolute;
    padding: 10px 15px;
    width: 100%;
    bottom: 0;
}
.our_products .read_more_url{
	color: #fff;
}
.our_products .service_prof{
	padding-bottom: 3px;
}
.our_products .project_left{
	float: left;
	width: 80%;
}
.our_products .project_right{
	float: right;
}
.our_products .read_more_url:hover{
	text-decoration: none;
}
.our_products .product_nam{
	font-size: 18px;
    min-height: 50px;
    line-height: 25px;
}
.about_us .btn_primary,.about_us .btn_primary:hover,
.about_us .btn_primary:active,.about_us .btn_primary:visited{
	font-size: 16px;
}
.our_clients{
	text-align: center;
	padding-top: 35px;
	padding-bottom: 55px;
}
/*About us page*/

.about_us_page .right_video iframe{
	margin-left: 30px
}
.vision_section{
	font-size: 14px;
	background: #f3f6fb;
	padding-top: 40px;
	padding-bottom: 40px;
}
.value_list li{
	position: relative;
	list-style: none;
	padding-bottom: 10px;
}
.value_list li:before{
	content: "\00BB";
	position: absolute;
	left: -20px;
	top: 0;
	padding-right: 10px;
}
.org_structure	.blue_underline:after {
    left: 50%;
    margin-left: -35px;
}
.flex{
	display: flex;
}
.people.flex{
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px 0;
}
.people .item{
	flex: 1 0 50%;
}
.people .people_name{
	font-size: 18px;
    margin-bottom: 0;
}
.people .designation{
	font-size: 15px;
    font-style: italic;
    margin-bottom: 20px;
}
.people .people_content{
	font-size: 16px;
}
.people .people-item{
	margin-bottom: 40px;
	margin-left: -15px;
    margin-right: -15px;
}
.people .people-item p{
	margin-bottom: 10px;
}
.career_page h3{
	font-weight: bold;
}
.career_page h4{
	font-size: 16px;
	font-weight: bold;	
}
.career_page ul{
	padding-left: 40px;
}
.career_page .place{
	font-size: 18px;
	color: #5d5d5d;	
}
.career_page .date {
	font-size: 18px;	
	padding-left: 30px;
	color: #5d5d5d;
}
.apply_job{
	border: 1px solid #000;
	padding: 15px 30px;
}
.apply_job{
	color: #000;
	text-decoration: none;
	margin-bottom: 40px;
	display: inline-block;
}
.apply_job:hover,.apply_job:focus{
	text-decoration: none;
	color: inherit;
	background: #05215c;
    color: #fff;
}
.career_inner{
	margin-top: 50px;
	border-bottom: 1px solid #aaa;
}
.certification-item li{
	list-style: none;
}
.certification_border_inner img{
	margin: 0 auto;
}
.certification_border_outer{
	padding: 10px;
    border: 6px solid #dddddd;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 35px;
}
.certification_border_inner{
	margin: 0 auto;
    padding: 10px;
    border: 1px solid #dddddd;
}
.inner_banner{
	height: 205px;
	margin-bottom: 60px;
}
.inner_banner h1{
	font-size: 50px;
	color: #fff;
	line-height: 200px;
	text-align: center;
	font-weight: bold;
	margin-top: 0;
}

@media (max-width:1200px){
	.our_clients.padding_h40{
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media (max-width:1080px){
	.our_clients li{
		width: 25%;
		margin-bottom: 20px;
	}
}
@media (max-width:991px){
	.caption-section{
		width: 300px;
	}
	.our_clients li{
		width: 30%;
	}
	.crellyslider>.cs-navigation>.cs-slide-link{
		width: 10px;
    	height: 10px;
	}
	.caption-section .text{
		font-size: 16px !important;
		line-height: 1.4 !important;
	}
	.caption-section h2{
		font-size: 28px !important;
		line-height: 1.4 !important;
	}
	.our_products .project_overlay{
		padding: 10px;
	}
	.project_bg .read_more_url{
		font-size: 24px;
	}
	.our_products .service_nam {
    	font-size: 14px;
	}
	.our_products .project_right{
		margin-top: 20px;
	}
}
@media (max-width:767px){
	.our_clients li{
			width: 48%;
	}
	.caption-section .text{
		font-size: 14px !important;
		line-height: 1.4 !important;
	}
	.caption-section{		
	    padding: 10px 20px 30px!important;
	}
	.caption-section h2{
		font-size: 22px !important;
		line-height: 1.4 !important;
	}
	.crellyslider{
		height: 250px !important;
	}
	.cs-slides li{
		height: 100% !important;
	}
	.crellyslider>.cs-navigation{
		bottom: 25px;
	}
	.inner_banner h1 {
		font-size: 30px;
		color: #fff;
		line-height: 1.4;
		text-align: center;
		font-weight: bold;
		padding: 60px;
		margin-top: 0;
	}
	h3 {
		font-size: 20px;
	}
	.inner_banner{
		margin-bottom: 40px;
	}
	.people-item .people_name{
		padding-top: 0;
	}
	.people .people_content {
		font-size: 14px;
	}
	.career_page .place,.career_page .date {
		font-size: 14px;
	}
	.service_prof{
		height: auto;
	}
	.our_products .product_nam {
	    font-size: 14px;
	    min-height: auto;
	    line-height: 20px;
	}
}
@media (max-width:480px){
	.our_clients li{
			width: 100%;
			margin-right: 0;
	}
	.client-section{
		margin-left: 0;
	}
	.about_us_right {
		float: none !important;
		padding-top: 0;
	}
	.about_us_page .right_video iframe{
		margin-left: 0 ;
		width: 90% !important;
	}
	.certification_border_outer{
		width: 60%;
	}	
	.career_page ul {
		padding-left: 20px;
	}
	.caption-section{
		width: 85%;
	}
}
