body{
	font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 400;
}
body:before,
body:after {
  display: none !important;
}
.site{
	margin:0 !important;
}
.white_text{
	color: #fff;
}

.contact_header {
	    background: #1F479C;
}

.contact_header ul li{
	color: #fff;
	font-size: 11px;
}
.main-navigation a{
	font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 15px;
}
.site-header{
	padding: 10px 30px!important;
}
.site-content{
	padding: 0 !important;
}
.caption-section{
	color: #fff;
	width: 480px;
	background: rgba(23, 37, 75,0.3);
	border-top: 3px solid rgb(23, 37, 75);
	padding: 30px 50px;
	top: unset !important;
}
.caption-section .text{
	white-space: pre-wrap;
	padding-right: 40px;

}
.caption-section h2{
	font-weight: 700;
	font-size: 40px;
	margin-bottom: 20px;
}
.caption-section .text{
	font-size: 15px;
}